@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	transition: .5s;
}

nav svg {
    width: 50px;
}

.negro {
	background-color: #000;
}

nav.negro {
	border-bottom: 4px solid #17A3B8;
}

section {
    padding: 6rem 0 0; /* Ayuda a que el menú no tape los títulos al hacer scroll*/
}

.carousel-item img {
    object-fit: cover;
    height: 100vh;
}

hr {
    border-top: 2px solid #17A3B8;
}

.btn i {
    font-size: 1.8rem;
}

.btn {
	border:none;
}

#featured img {
    object-fit: cover;
    height: 160px;
}

footer li {
    list-style: none;
    display: inline-block;
    margin: 0 .4rem;
}

footer li a {
    color: #fff;
}

@media only screen and (max-width:576px) {

	.navbar li:nth-child(2) {
	    display: none;
	}

}/* fin media query */